*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.wrapper {
  position: relative;
  height: 100%;
}

html {
  height: 100vh;
}

@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 993px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}