.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $primary;

  &__content {}

  &__developer {
    font-size: 14px;
    color: #fff;
    @include reg;
    margin: 0 auto;
    padding: 10px 0;
  }
}