.footer {
  background-color: $primary;


  &__content {}

  &__developer {
    font-size: 14rem;
    color: #fff;
    @include reg;
    margin: 0 auto;
    padding: 10px 0;

    @media (max-width: 420px) {
      font-size: 12rem;
    }
  }
}