.prisoners {
  padding-bottom: 60px;

  @media (max-width: 810px) {
    padding-bottom: 40px;
  }

}

.prisoners-list {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 993px) {
    justify-content: space-between;
  }

  @media (max-width: 645px) {
    justify-content: space-around;
  }

  &__item {
    flex-basis: 30%;
    margin-top: 40px;
    color: #fff;
    background-color: $primary;
    text-align: center;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);
    border-radius: 10px;


    &:nth-child(2) {
      margin-right: 57px;
      margin-left: 57px;

      @media (max-width: 1182px) {
        margin-right: 47px;
        margin-left: 47px;
      }

      @media (max-width: 993px) {
        margin-right: 0;
        margin-left: 0;
      }
    }

    &:nth-child(5) {
      margin-right: 57px;
      margin-left: 57px;

      @media (max-width: 1182px) {
        margin-right: 47px;
        margin-left: 47px;
      }

      @media (max-width: 993px) {
        margin-right: 0;
        margin-left: 0;
      }
    }

    &:nth-child(8) {
      margin-right: 57px;
      margin-left: 57px;

      @media (max-width: 1182px) {
        margin-right: 47px;
        margin-left: 47px;
      }

      @media (max-width: 993px) {
        margin-right: 0;
        margin-left: 0;
      }
    }

    @media (max-width: 993px) {
      flex-basis: 48%;
      margin-top: 30px;
    }

    @media (max-width: 810px) {
      margin-top: 20px;
    }

    @media (max-width: 645px) {
      flex-basis: 100%;
    }
  }

  &__img {
    max-height: 350px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;

    @media (max-width: 1182px) {
      max-height: 280px;
    }

    @media (max-width: 645px) {
      max-height: 400px;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__name {
    @include reg;
    padding: 6px 0 8px;
    font-size: 16rem;

    @media (max-width: 420px) {
      font-size: 13rem;
      padding: 5px 0;
    }

    @media (max-width: 360px) {
      font-size: 12rem;
    }
  }
}